i.icon{
	font-size: 2em;
	color: red;
}
.container.main{
	margin-top: 7.0em;
}
.delete{
	display: inline;
}

  .ui.footer.form-page { /* Increased specificity for SO snippet priority */
    color: red;
    bottom: 0;
    width: 100%;
  }
